.main {
  background-color: white;
  border: 1px solid LightGrey;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    flex: 0 0 auto;
    display: block;
  }
}
