.normal {
  margin: 12px 12px;
}

.sider {
// 固定sidebar
min-height: 100vh;
//min-height: 100vh;
//position: absolute;
//overflow: visible;
//padding-bottom: 0;
}

.logo {
  height: 48px;
  background: #aaa;
  text-align: center;
  font-size: 24px;
  // 垂直居中
  display         : flex;
  justify-content : center;
  align-items     : center;
  a {
    color: #fff;
  }
}
