.normal {
  margin: 12px 12px;
}

.sider {
  min-height: 100vh;
  // 固定sidebar
  // TODO:
}

.logo {
  height: 48px;
  background: #aaa;
  text-align: center;
  font-size: 24px;
  // 垂直居中
  display         : flex;
  justify-content : center;
  align-items     : center;
  a {
    color: #fff;
  }
}
