html, body, :global(#root) {
  height: 100%;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// 徽标显示
:global(.ant-badge:not(.ant-badge-status)) {
  margin-right: 16px;
}
